{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist/ngx-tealium"
      }
    ],
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}
